@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background: rgb(230, 255, 230);
  --foreground: #171717;
}

body {
  background-color: rgb(230, 255, 230);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* header {
  background-color: rgb(151, 254, 151);
} */
.header div {
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.2s;
  padding: 10px;
  border-radius: 10px;
}

.handle-submit {
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.2s;
  padding: 10px;
  border-radius: 10px;
  background-color: blanchedalmond;
}

.handle-submit:hover {
  background-color: lightblue;
}

.bold {
  font-weight: 600;
  color: black !important;
}

.header div:hover {
  background-color: lightblue;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem !important;
}

@media (min-width: 600px) {
  /* .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;} */
  /* .plot {grid-area: 3 / span 6;} */
}